*{
    padding: 0;
    border: 0;
    margin: 0;
}
#main-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    background-color: aquamarine;
}


#game-board {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    gap: 5px;
    margin: 20px auto;
    max-width: 400px;
}

.peca {
    border: 2px solid #d3d6da;
    width: 60px; /* Base size */
    height: 60px; /* Base size */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Cor quando coisar */
.certo {
    background-color: #538d4e; 
    color: whitesmoke;
    border-color: #538d4e;
}

.tem {
    background-color: #b59f3b; 
    color: whitesmoke;
    border-color: #b59f3b;
}

.nntem {
    background-color: #3a3a3c;
    color: whitesmoke;
    border-color: #3a3a3c;
}